# IDE
/.vs/
/.vscode/

# Nitro
/include/nitro/
/include/nitro_wl/
/include/nnsys/
/include/nitro.h
/include/nnsys.h

# Misc
/dev/
*.bak

# Exclude all files from root directory
/*
/*/
!/docs/
!/include/

# Include only these file from root directory
!.editorconfig
!.gitattributes
!.gitignore
!Doxyfile
!README.md
!logo.png
!symbols7.x
!symbols9.x
